<body>
    <div class="login-container">
        <h1>Login</h1>
        <hr>

        <form class="login-form" method="post" action="/api/sessions/login">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
          </div>

          <button type="submit" class="submit-btn">Login</button>
        </form>

        <div class="auth-links">
          <a href="/api/sessions/github" class="auth-btn">Entrar con Github</a>
          <a href="/restore" class="auth-btn">Olvidé mi contraseña</a>
        </div>

        <div class="register-link">
          <a href="/register">No tienes una cuenta? Regístrate aquí</a>
        </div>

        <div id="message" class="message"></div>
    </div>

    <script>
        $(document).ready(function() {
            
            {{#if failLogin}}
                $('#message').removeClass('success').addClass('error').text('Login Failed!').show();
            {{/if}}
            {{#if registerSuccess}}
                $('#message').removeClass('error').addClass('success').text('Register Success!').show();
            {{/if}}
        });
    </script>
</body>
</html>