
    <form action="/api/sessions/restore" method="POST" id="resetEmailForm">
    <label for="email">Introduce tu email:</label>
    <input type="email" id="email" name="email" required>
    <button type="submit">Enviar enlace de restablecimiento</button>
</form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/restore.js"></script> 
    <script src="/js/messageHandler.js"></script>
